@{
    ViewData["Title"] = "Bootstrap Grid";
}


<h1>Bootstrap Grid</h1>
<hr />
<div class="row row-cols-12"><div class="col-md-12 text-center" style=" background-color: rgb(255, 255, 128)">12 col text center</div></div>
<div class="row row-cols-12"><div class="col-md-6 text-start" style=" background-color: rgb(255, 34, 128)">6 col text left</div>
                             <div class="col-md-6 text-end" style=" background-color: rgb(25, 255, 128)">6 col text right</div></div>
<div class="row"><div class="col-md-7 text-start" style=" background-color: rgb(225, 134, 18)">7 col text left</div>
                             <div class="col-6 col-md-3 text-center" style=" background-color: rgb(25, 25, 128)">3 col text center</div>
                             <div class="col-6 col-md-2 text-end" style=" background-color: rgb(135, 235, 128)">2 col text right</div></div>
<div class="row">
    <div class="col-md-4" style=" background-color: rgb(55, 234, 28)">4 col text left</div>
    <div class="col-md-8">
        <div class="row row-cols-12">
            <div class="col-6 col-md-3 text-center p-5" style=" background-color: rgb(155, 3, 128)">1</div>
            <div class="col-6 col-md-3 text-center p-5" style=" background-color: rgb(55, 24, 28)">2</div>
            <div class="col-6 col-md-3 text-center p-5" style=" background-color: rgb(18, 14, 128)">3</div>
            <div class="col-6 col-md-3 text-center p-5" style=" background-color: rgb(155, 234, 28)">4</div>
            <div class="col-6 col-md-3 text-center p-5" style=" background-color: rgb(155, 34, 128)">5</div>
            <div class="col-6 col-md-3 text-center p-5" style=" background-color: rgb(65, 234, 28)">6</div>
            <div class="col-6 col-md-3 text-center p-5" style=" background-color: rgb(5, 234, 28)">7</div>
            <div class="col-6 col-md-3 text-center p-5" style=" background-color: rgb(120, 74, 28)">8</div>
        </div>
    </div>
</div>